.jumbotron {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    text-decoration: none; 
    color:black;
    margin-bottom: 10px;
    background-color: lightgray; 
    clear: "both";
    background-image:url("https://github.com/eveasian88/Memory-Clicky-Game/public/images/headerbg.jpg");
    z-index: 99;
  }
  